.main_error {
  color: rgb(223, 13, 53);
  text-align: center;
  padding: 50px 0;

  .error_code {
    font-size: 300px;
    line-height: 250px;
    text-shadow: 0 0 1px;
  }

  .title_error {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    font-weight: 700;
    .title_in {
      height: 250px;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .title_out {
    margin: 0 auto;
    width: 73px;
  }

  .desc {
    margin: 20px 0;
    font-size: 22px;
  }

  a {
    text-decoration: underline;
  }
}
@media screen and (max-width:600px) {
  .main_error {
    padding: 0;
    .error_code {
      font-size: 46px;
      line-height: normal;
    }
    .title_error {
      position: relative;
      width: auto;
      .title_in {
        height: auto;
      }
    }
  }

}