.CoubeItems {
  .items_finder_params {
    display: flex;
    margin: 5px -5px 0;
    .tag {
      margin: 5px;
      border: solid 1px @main-color;
      color: @main-color;
      padding: 4px 10px;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .items_finder {
    height:40px;
    display: flex;
    max-width: 500px;
    margin-top: 20px;
    input.text {
      width: 100px;
      line-height: 30px;
      padding-right: 40px;
      flex-grow: 1;
    }
    .find_btn {
      margin-left: -40px;
      width:40px;
      height:100%;
      display: flex;
      align-content: center;
      cursor: pointer;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
      i {
        margin: auto;
      }
    }
    .form_button {
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: stretch;
    }
    .settings_btn {
      height:100%;
      width:40px;
      display: flex;
      align-content: center;
      font-size: 26px;
      cursor: pointer;
      justify-content: center;
      margin-left: 10px;
      &:hover {
        background: @background-gray;
      }
      &.active {
        color: @main-color;
      }
      div {
        margin: auto;
      }
    }
  }
  .iload {
    width: 50px;
    height: 50px;
    background-image: url('/images/loader.svg');
    background-position: center;
    background-size: 50px;
  }
  .items {
    margin: 10px -5px 0;
    &::after{
      content: ' ';
      display: block;
      clear: both;
    }
    .item_add {
      width: 210px;
      height: 203px;
      background-color: @background-gray;
      border: solid 1px @background-gray;
      flex-shrink: 0;
      float: left;
      &:after{}
      &:before{}
    }
    .item {
      float:left;
      padding: 5px;
      width: 7.69%;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      &.add {
        .img {
          border: solid 1px @border-gray;
          background: @background-gray;
          border-radius: 10px;

          &:hover {
            background: @background-gray_hover;
          }
        }
      }
      .img {
        display: flex;
        flex-grow: 1;
        background: @background-gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        flex-direction: column;
        .title {
          flex-grow: 0;
          margin: auto 0 0 0;
          padding: 10px;
          color: #ffffff;
          min-height: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.6);
          font-size: 18px;
          transition-duration: 0.3s;
        }
        &:hover {
          background-size: 110%;
          .title {
            background-color: rgba(0, 0, 0, 0.80);
          }
        }
        .icon {
          font-size: 30px;
          margin: auto;
        }
      }
      .user{
        padding: 5px;
        display: flex;
        .image{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
        }
        .data {
          margin-left: 10px;
          overflow: hidden;
          .name {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 3500px) {
  body .CoubeItems .items .item {
    width: 8.33%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 3000px) {
  body .CoubeItems .items .item {
    width: 9.09%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 2500px) {
  body .CoubeItems .items .item {
    width: 11.11%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 2200px) {
  body .CoubeItems .items .item {
    width: 12.5%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1920px) {
  body .CoubeItems .items .item {
    width: 14.28%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1600px) {
  body .CoubeItems .items .item {
    width: 16.66%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1400px) {
  body .CoubeItems .items .item {
    width: 20%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1200px) {
  body .CoubeItems .items .item {
    width: 25%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 900px) {
  body .CoubeItems .items .item {
    width: 33.33%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 700px) {
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 600px) {
  body .CoubeItems .items .item {
    width: 50%;
  }
  body .CoubeItems.mini .items .item {
    width: 50%;
  }
}
@media screen and (max-width: 300px) {
  body .CoubeItems .items .item {
    width: 100%;
  }
  body .CoubeItems.mini .items .item {
    width: 100%;
  }
}