.LineItems {
  max-width: 800px;
  .items_finder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -5px;
    &.grouped {
      margin: 0;
      display: block;
      .items_finder_group {
        margin: 0 -5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &._big {
          select, input[type="text"] {
            padding: 11px;
            font-size: 20px;
          }
        }
        &._mini {
          select, input[type="text"] {
            padding: 3px;
          }
        }
      }
    }
    .item_finder {
      margin: 5px;
      flex-grow: 1;
      &.not_grow {
        flex-grow: 0;
      }
    }
    .text_search {
      min-width: 250px;
      display:flex;
      margin-right: 10px;
      align-items: center;
      input.text {
        padding-right: 40px;
        flex-grow: 1;
      }
      .find_btn {
        margin-left: -40px;
        width:40px;
        height:100%;
        display: flex;
        align-content: center;
        cursor: pointer;
        justify-content: center;
        &:hover {
          opacity: 0.8;
        }
        i {
          margin: auto;
        }
      }
    }

    .form_button {
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: stretch;
    }
    .settings_btn {
      height:100%;
      width:40px;
      display: flex;
      align-content: center;
      font-size: 26px;
      cursor: pointer;
      justify-content: center;
      margin-left: 10px;
      &:hover {
        background: @background-gray;
      }
      &.active {
        color: @main-color;
      }
      div {
        margin: auto;
      }
    }
  }
  .iload {
    width: 50px;
    height: 50px;
    background-image: url('/images/loader.svg');
    background-position: center;
    background-size: 50px;
  }
  .items {
    margin: 10px 0;
    .item_add {
      height:42px;
      background: @background-gray1;
      margin-bottom: 10px;
      display: block;
    }
    .item {
      background: @background-gray;
      color: @text-color;
      margin-bottom: 10px;
      display: flex;
      &[data-del="1"] {
        color: @text-color-grey;
        background: #fff4f4;
        &:hover {
          background: #faefef;
        }
      }
      .ripple-content {
        display: flex;
        flex-grow: 1;
      }
      &:hover {
        background: @background-gray_hover;
      }
      .icon-add {
        display: flex;
        align-items: center;
        height: 50px;
        width: 50px;
        justify-content: center;
        background: @background-gray1;
        color: #fff;
        font-size: 20px;
      }
      .image {
        width:50px;
        height:50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/images/user_noimg_50.png');
      }
      .item_inner {
        padding: 5px 0;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .title {
          font-size: 18px;
          flex-grow: 1;
          margin: 5px 10px;
        }
        .right {
          margin: 5px 10px;
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width:800px) {
  .LineItems {
    .items {
      margin-left: -@content-pading_min;
      margin-right: -@content-pading_min;
      .item {
        .inner_content {
          padding-left: @content-pading_min;
          padding-right: @content-pading_min;
        }
      }
    }
  }
}