.user_form {
  max-width: 300px;
  margin: 0 auto;

  .title {
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }
  .title1 {
    padding: 20px;
    font-size: 26px;
    text-align: center;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    padding: 0 10px;
    line-height: 40px;
    width: 100%;
    border: solid 1px @border-gray;
    margin-bottom: 10px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .error {
    display: none;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .btn {
    line-height: 40px;

  }
  a.register {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  a.forgot {
    display: block;
    text-align: center;
    color: @text-color-grey;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .link_login {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 30px;
    color: @text-color-grey;
  }
  .soc_title {
    padding-bottom: 10px;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
  }
  .soc_icons {
    text-align: center;
  }
  .loader_login_content {
    display: none;
    text-align: center;
  }
  .div_text {
    padding: 20px 0 10px;
    text-align: center;
    font-size: 14px;
  }
}