.UserProfile {
  max-width:220px;
  input.form_control[type="text"] {
    width:100%;
  }
  .btn.block {
    margin-bottom: 10px;
  }
  .frow {
    margin-top: 10px;
  }
  .result_form {
    text-align: center;
    font-size: 14px;
  }
}