.VisitorsAdmin_Edit {
  max-width: 400px;
}
.VisitorsAdmin.LineItems {
  max-width: none;
  .items_finder {
    max-width: 800px;
  }
  table {
    margin-top: 20px;
    width:auto;
    th {
      text-align: center;
    }
    tr {
      cursor: pointer;
      &[data-del="1"] {
        color: @text-color-grey;
        background: #fff1fa;
      }
    }
  }
}