@charset "UTF-8";
* {
  transition-duration: 0.3s;
  transition-property: color, opacity, background-color, border-color;
  animation-timing-function: ease-in-out;
  outline: none;
  box-sizing: border-box;
}
html body {
  min-width: 300px;
  font-family: 'PT Sans', Tahoma, serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
  background: #fff;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  background: #f7f7f7;
}
a {
  color: #4D7198;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.outer_wrapper {
  width: 100%;
  padding-top: 69px;
}
.wrapper {
  padding: 40px;
  margin: 0 0 0 280px;
  max-width: none;
  box-shadow: none;
  min-height: calc(100vh - 138px);
  box-sizing: border-box;
  background: #fff;
}
body.centered .wrapper {
  margin: 0 auto;
  max-width: 1170px;
}
body.page-main .wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 820px;
}
.wrapper:not(._no-padding) .content_minus {
  background: #f7f7f7;
  margin: 0 -40px;
}
.wrapper._no-padding {
  padding: 0;
}
.wrapper._grey {
  background: #f7f7f7;
}
.error {
  color: #7f0003;
  font-size: 14px;
  margin-bottom: 10px;
}
.btn,
a.btn,
.form_button,
a.form_button {
  color: #fff;
  background: #3D8AD4;
  padding: 0 15px;
  line-height: 36px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
.btn.big,
a.btn.big,
.form_button.big,
a.form_button.big {
  line-height: normal;
  padding: 25px 15px;
  font-size: 20px;
}
.btn.red,
a.btn.red,
.form_button.red,
a.form_button.red {
  background: #a00000;
}
.btn._grey,
a.btn._grey,
.form_button._grey,
a.form_button._grey {
  background: #b5b5b5;
}
.btn.right,
a.btn.right,
.form_button.right,
a.form_button.right {
  float: right;
}
.btn.block,
a.btn.block,
.form_button.block,
a.form_button.block {
  display: block;
}
.btn.load,
a.btn.load,
.form_button.load,
a.form_button.load,
.btn.load:hover,
a.btn.load:hover,
.form_button.load:hover,
a.form_button.load:hover {
  background: #f7f7f7;
  opacity: 1;
  cursor: default;
}
.btn.load .t,
a.btn.load .t,
.form_button.load .t,
a.form_button.load .t {
  display: none;
}
.btn.load .l,
a.btn.load .l,
.form_button.load .l,
a.form_button.load .l {
  display: block;
}
.btn .l,
a.btn .l,
.form_button .l,
a.form_button .l {
  display: none;
  text-align: center;
  margin: 0 auto;
}
.btn._cancel_form,
a.btn._cancel_form,
.form_button._cancel_form,
a.form_button._cancel_form {
  float: left;
  width: 50%;
  max-width: 120px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn._save_form,
a.btn._save_form,
.form_button._save_form,
a.form_button._save_form {
  float: right;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 120px;
}
.btn:hover,
a.btn:hover,
.form_button:hover,
a.form_button:hover {
  opacity: 0.8;
}
#ui-datepicker-div {
  z-index: 999!important;
}
.alerts .item {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  float: left;
  clear: left;
  border: solid 1px #acdab4;
}
.alerts::after {
  content: ' ';
  display: block;
  clear: both;
}
.term_privacy_text {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}
.soc_icons {
  font-size: 36px;
  padding-bottom: 30px;
  text-align: center;
}
.soc_icons .item {
  border-right: solid 2px #7f7f7f;
  padding: 0 15px;
  height: 27px;
  font-size: 26px;
  text-align: center;
  color: #7f7f7f;
  cursor: pointer;
}
.soc_icons .item:hover {
  color: #979797;
}
.soc_icons .item.vk {
  padding-left: 0;
}
.soc_icons .item.fb {
  border-right: none;
  padding-right: 0;
}
.soc_icons .item.vk i {
  font-size: 32px;
}
.soc_icons .item.fb i {
  font-size: 26px;
  position: relative;
  padding: 0 3px;
  top: 1px;
  width: 12px;
  text-align: left;
  font-weight: bold;
}
.soc_icons .item.inst i {
  font-size: 31px;
  position: relative;
  padding: 0 3px;
  top: 2px;
}
h1.page_title {
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 20px;
  margin: 0;
}
.table_out {
  overflow: auto;
}
header {
  color: #fff;
  background-color: #3D8AD4;
  box-shadow: 0 0 10px #999;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
  z-index: 4;
}
header .in_header {
  display: flex;
  height: 69px;
  margin: 0 auto;
}
header .show_menu {
  display: none;
  padding: 0 20px;
  justify-content: left;
  align-items: center;
}
header .show_menu:hover {
  background-color: #339BE6;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 100%;
  margin: auto 0;
  flex-shrink: 0;
  flex-grow: 0;
  color: #fff;
  font-size: 39px;
}
header .logo .ripple-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .logo .name {
  line-height: 34px;
}
header .logo .title {
  font-size: 14px;
}
header .logo:hover {
  background-color: #339BE6;
}
header a.vk {
  width: 96px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 60px;
}
header a.vk .vk-place {
  position: absolute;
  background-color: #3D8AD4;
  width: 84px;
  height: 72px;
  display: block;
  color: #fff;
  box-shadow: 0 0 15px 8px rgba(49, 49, 49, 0.1);
  font-size: 58px;
  text-align: center;
  line-height: 60px;
  flex-grow: 0;
  transition: background 0.2s;
}
header a.vk .vk-place:hover {
  background-color: #339BE6;
  color: #fff;
}
header .user {
  margin: 0 0 0 auto;
  flex-grow: 0;
  color: #fff;
  display: flex;
  align-items: stretch;
}
header .user .ripple-content {
  display: flex;
  align-items: stretch;
}
header .user:hover {
  background-color: #339BE6;
}
header .user .info {
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}
header .user .info .position {
  font-size: 16px;
}
header .user .avatar {
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .user .avatar .img {
  height: 54px;
  width: 54px;
  border-radius: 50px;
  background-position: center center;
  background-size: cover;
  background-image: url('/images/user.svg');
}
header .user .money {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  transition: background-color 0.5s;
  cursor: pointer;
  color: #fff;
}
header .user .money:hover {
  background-color: #339BE6;
}
header .user .money .count {
  font-size: 48px;
  text-align: center;
  margin-right: 10px;
  padding-bottom: 2px;
}
header .user .money .label {
  font-size: 18px;
  text-align: center;
  line-height: 1;
}
header .user .money .label .icon {
  display: block;
  font-size: 38px;
  line-height: 18px;
  height: 22px;
}
header .user .money .money:hover {
  background-color: #339BE6;
}
header .user .login {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 0 40px;
  text-align: center;
}
header .user .login:hover {
  background-color: #339BE6;
}
body.centered .main_menu {
  display: none;
}
.overflow_menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(214, 214, 214, 0.8);
}
.main_menu {
  position: fixed;
  z-index: 3;
  overflow-y: auto;
  padding-top: 69px;
  left: 0;
  width: 280px;
  box-sizing: border-box;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px #999;
  display: flex;
  flex-direction: column;
}
.main_menu .items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}
.main_menu .items .item {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #3D8AD4;
  text-align: center;
  padding: 15px 20px;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.main_menu .items .item .ripple-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.main_menu .items .item .icon {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 2px;
  width: 30px;
  text-align: left;
}
.main_menu .items .item .title {
  margin: 0;
}
.main_menu .items .item .title.nomargin {
  margin-top: 0;
}
.main_menu .items .item.active {
  background-color: #f7f7f7;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.219607);
}
.main_menu .items .item:hover {
  background-color: #f7f7f7;
  transition-property: all;
}
.main_menu .items .item:hover * {
  color: #3D8AD4;
}
.main_menu .menu_footer {
  padding-top: 20px;
  margin: auto 0 10px 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.main_menu .menu_footer .curs {
  margin: 20px;
  display: flex;
  color: #3D8AD4;
  font-size: 18px;
}
.main_menu .menu_footer .curs_item.or {
  flex-grow: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 20px;
}
.main_menu .menu_footer .curs_item.or div {
  margin: auto;
}
.main_menu .menu_footer .curs_item:last-child {
  text-align: right;
}
.main_menu .menu_footer .item {
  font-size: 14px;
  display: block;
  padding: 5px 20px;
  line-height: 16px;
  color: #7f7f7f;
}
.main_menu .menu_footer .item:hover {
  color: #979797;
}
body.full_width .wrapper {
  margin: 0 auto;
  max-width: 1170px;
}
body.full_width .main_menu {
  margin-left: -300px;
}
.nav-icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  transition: all 0.2s ease-in-out;
}
.nav-icon:after,
.nav-icon:before,
.nav-icon span {
  display: block;
  transition: all 0.2s ease-in-out;
  content: '';
  margin: 10px 0;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
}
.nav-icon.active:before {
  transform: translateY(13px) rotate(135deg);
}
.nav-icon.active:after {
  transform: translateY(-13px) rotate(-135deg);
}
.nav-icon.active span {
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}
body.page-main body .wrapper:not(._no-padding) {
  padding: 20px 10px;
}
body.page-main body .wrapper:not(._no-padding) .content_minus {
  margin: 0 -10px;
}
body.page-main body.centered .main_menu {
  display: flex;
}
body.page-main body.centered .footer {
  display: none;
}
body.page-main body .main_menu,
body.page-main header .logo {
  width: auto;
}
body.page-main .main_menu,
body.page-main body.full_width .main_menu {
  margin-left: -300px;
  transition-property: margin;
}
body.page-main .main_menu.show,
body.page-main body.full_width .main_menu.show {
  margin-left: 0;
}
body.page-main html body .outer_wrapper .wrapper {
  margin-left: 0;
}
body.page-main header .show_menu {
  display: flex;
}
body.page-main header .logo {
  flex-grow: 1;
  justify-content: flex-start;
}
body.page-main header a.vk {
  display: none;
}
body.page-main header .user .money {
  display: none;
}
body.page-main header .logo {
  padding-left: 10px;
  justify-content: flex-start;
}
@media screen and (max-width: 900px) {
  body .wrapper:not(._no-padding) {
    padding: 20px 10px;
  }
  body .wrapper:not(._no-padding) .content_minus {
    margin: 0 -10px;
  }
  body.centered .main_menu {
    display: flex;
  }
  body.centered .footer {
    display: none;
  }
  body .main_menu,
  header .logo {
    width: auto;
  }
  .main_menu,
  body.full_width .main_menu {
    margin-left: -300px;
    transition-property: margin;
  }
  .main_menu.show,
  body.full_width .main_menu.show {
    margin-left: 0;
  }
  html body .outer_wrapper .wrapper {
    margin-left: 0;
  }
  header .show_menu {
    display: flex;
  }
  header .logo {
    flex-grow: 1;
    justify-content: flex-start;
  }
  header a.vk {
    display: none;
  }
  header .user .money {
    display: none;
  }
  header .logo {
    padding-left: 10px;
    justify-content: flex-start;
  }
  header .user .info {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  header .logo .name {
    line-height: 22px;
    font-size: 25px;
  }
  html body header .logo .ripple-content {
    align-items: flex-start;
  }
  header .in_header {
    height: 50px;
  }
  header .in_header .nav-icon {
    width: 30px;
  }
  header .user .avatar .img {
    width: 36px;
    height: 36px;
  }
  header .show_menu {
    padding: 0 10px;
  }
  header .user .login,
  header .user .avatar,
  header .user .money {
    padding: 0 10px;
  }
  .outer_wrapper {
    padding-top: 50px;
  }
}
@font-face {
  font-family: 'Linearicons-Free';
  src: url('/plugins/icons/fonts/icomoon.eot?w0eufd16');
  src: url('/plugins/icons/fonts/icomoon.eot?w0eufd61#iefix') format('embedded-opentype'), url('/plugins/icons/fonts/icomoon.ttf?w0eufd1') format('truetype'), url('/plugins/icons/fonts/icomoon.woff?w0eufd1') format('woff'), url('/plugins/icons/fonts/icomoon.svg?w0eufd1#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Linearicons-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-checked:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-alarm:before {
  content: "\e902";
}
.icon-apartment:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-down-circle:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-left-circle:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-arrow-right-circle:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-arrow-up-circle:before {
  content: "\e90b";
}
.icon-bicycle:before {
  content: "\e90c";
}
.icon-bold:before {
  content: "\e90d";
}
.icon-book:before {
  content: "\e90e";
}
.icon-bookmark:before {
  content: "\e90f";
}
.icon-briefcase:before {
  content: "\e910";
}
.icon-bubble:before {
  content: "\e911";
}
.icon-bug:before {
  content: "\e912";
}
.icon-bullhorn:before {
  content: "\e913";
}
.icon-bus:before {
  content: "\e914";
}
.icon-calendar-full:before {
  content: "\e915";
}
.icon-camera:before {
  content: "\e916";
}
.icon-camera-video:before {
  content: "\e917";
}
.icon-car:before {
  content: "\e918";
}
.icon-cart:before {
  content: "\e919";
}
.icon-chart-bars:before {
  content: "\e91a";
}
.icon-checkmark-circle:before {
  content: "\e91b";
}
.icon-chevron-down:before {
  content: "\e91c";
}
.icon-chevron-down-circle:before {
  content: "\e91d";
}
.icon-chevron-left:before {
  content: "\e91e";
}
.icon-chevron-left-circle:before {
  content: "\e91f";
}
.icon-chevron-right:before {
  content: "\e920";
}
.icon-chevron-right-circle:before {
  content: "\e921";
}
.icon-chevron-up:before {
  content: "\e922";
}
.icon-chevron-up-circle:before {
  content: "\e923";
}
.icon-circle-minus:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e925";
}
.icon-cloud:before {
  content: "\e926";
}
.icon-cloud-check:before {
  content: "\e927";
}
.icon-cloud-download:before {
  content: "\e928";
}
.icon-cloud-sync:before {
  content: "\e929";
}
.icon-cloud-upload:before {
  content: "\e92a";
}
.icon-code:before {
  content: "\e92b";
}
.icon-coffee-cup:before {
  content: "\e92c";
}
.icon-cog:before {
  content: "\e92d";
}
.icon-coin:before {
  content: "\e92e";
}
.icon-coin1:before {
  content: "\e92f";
}
.icon-coins:before {
  content: "\e930";
}
.icon-coins1:before {
  content: "\e931";
}
.icon-construction:before {
  content: "\e932";
}
.icon-crop:before {
  content: "\e933";
}
.icon-cross:before {
  content: "\e934";
}
.icon-cross_white:before {
  content: "\e935";
  color: #fff;
}
.icon-cross-circle:before {
  content: "\e936";
}
.icon-database:before {
  content: "\e937";
}
.icon-diamond:before {
  content: "\e938";
}
.icon-dice:before {
  content: "\e939";
}
.icon-dinner:before {
  content: "\e93a";
}
.icon-direction-ltr:before {
  content: "\e93b";
}
.icon-direction-rtl:before {
  content: "\e93c";
}
.icon-download:before {
  content: "\e93d";
}
.icon-drop:before {
  content: "\e93e";
}
.icon-earth:before {
  content: "\e93f";
}
.icon-enter:before {
  content: "\e940";
}
.icon-enter-down:before {
  content: "\e941";
}
.icon-envelope:before {
  content: "\e942";
}
.icon-exit:before {
  content: "\e943";
}
.icon-exit-up:before {
  content: "\e944";
}
.icon-eye:before {
  content: "\e945";
}
.icon-file-add:before {
  content: "\e946";
}
.icon-file-empty:before {
  content: "\e947";
}
.icon-film-play:before {
  content: "\e948";
}
.icon-flag:before {
  content: "\e949";
}
.icon-frame-contract:before {
  content: "\e94a";
}
.icon-frame-expand:before {
  content: "\e94b";
}
.icon-funnel:before {
  content: "\e94c";
}
.icon-gift:before {
  content: "\e94d";
}
.icon-graduation-cap:before {
  content: "\e94e";
}
.icon-graduation-hat:before {
  content: "\e94f";
}
.icon-hand:before {
  content: "\e950";
}
.icon-heart:before {
  content: "\e951";
}
.icon-heart-pulse:before {
  content: "\e952";
}
.icon-highlight:before {
  content: "\e953";
}
.icon-history:before {
  content: "\e954";
}
.icon-home:before {
  content: "\e955";
}
.icon-hourglass:before {
  content: "\e956";
}
.icon-hourglass1:before {
  content: "\e957";
}
.icon-inbox:before {
  content: "\e958";
}
.icon-indent-decrease:before {
  content: "\e959";
}
.icon-indent-increase:before {
  content: "\e95a";
}
.icon-italic:before {
  content: "\e95b";
}
.icon-keyboard:before {
  content: "\e95c";
}
.icon-laptop:before {
  content: "\e95d";
}
.icon-laptop-phone:before {
  content: "\e95e";
}
.icon-layers:before {
  content: "\e95f";
}
.icon-leaf:before {
  content: "\e960";
}
.icon-license:before {
  content: "\e961";
}
.icon-lighter:before {
  content: "\e962";
}
.icon-linearicons:before {
  content: "\e963";
}
.icon-line-spacing:before {
  content: "\e964";
}
.icon-link:before {
  content: "\e965";
}
.icon-list:before {
  content: "\e966";
}
.icon-location:before {
  content: "\e967";
}
.icon-lock:before {
  content: "\e968";
}
.icon-magic-wand:before {
  content: "\e969";
}
.icon-magnifier:before {
  content: "\e96a";
}
.icon-map:before {
  content: "\e96b";
}
.icon-map-marker:before {
  content: "\e96c";
}
.icon-menu:before {
  content: "\e96d";
}
.icon-menu-circle:before {
  content: "\e96e";
}
.icon-mic:before {
  content: "\e96f";
}
.icon-moon:before {
  content: "\e970";
}
.icon-move:before {
  content: "\e971";
}
.icon-music-note:before {
  content: "\e972";
}
.icon-mustache:before {
  content: "\e973";
}
.icon-neutral:before {
  content: "\e974";
}
.icon-page-break:before {
  content: "\e975";
}
.icon-paper-bag:before {
  content: "\e976";
}
.icon-paperclip:before {
  content: "\e977";
}
.icon-paw:before {
  content: "\e978";
}
.icon-pencil:before {
  content: "\e979";
}
.icon-phone:before {
  content: "\e97a";
}
.icon-phone-handset:before {
  content: "\e97b";
}
.icon-picture:before {
  content: "\e97c";
}
.icon-pie-chart:before {
  content: "\e97d";
}
.icon-pilcrow:before {
  content: "\e97e";
}
.icon-plus-circle:before {
  content: "\e97f";
}
.icon-pointer-down:before {
  content: "\e980";
}
.icon-pointer-left:before {
  content: "\e981";
}
.icon-pointer-right:before {
  content: "\e982";
}
.icon-pointer-up:before {
  content: "\e983";
}
.icon-poop:before {
  content: "\e984";
}
.icon-power-switch:before {
  content: "\e985";
}
.icon-printer:before {
  content: "\e986";
}
.icon-pushpin:before {
  content: "\e987";
}
.icon-question-circle:before {
  content: "\e988";
}
.icon-redo:before {
  content: "\e989";
}
.icon-rocket:before {
  content: "\e98a";
}
.icon-sad:before {
  content: "\e98b";
}
.icon-screen:before {
  content: "\e98c";
}
.icon-select:before {
  content: "\e98d";
}
.icon-settings:before {
  content: "\e98e";
}
.icon-shirt:before {
  content: "\e98f";
}
.icon-shopping-bag:before {
  content: "\e990";
}
.icon-smartphone:before {
  content: "\e991";
}
.icon-smile:before {
  content: "\e992";
}
.icon-sort-alpha-asc:before {
  content: "\e993";
}
.icon-sort-amount-asc:before {
  content: "\e994";
}
.icon-spell-check:before {
  content: "\e995";
}
.icon-star:before {
  content: "\e996";
}
.icon-star-empty:before {
  content: "\e997";
}
.icon-star-half:before {
  content: "\e998";
}
.icon-store:before {
  content: "\e999";
}
.icon-strikethrough:before {
  content: "\e99a";
}
.icon-sun:before {
  content: "\e99b";
}
.icon-sync:before {
  content: "\e99c";
}
.icon-tablet:before {
  content: "\e99d";
}
.icon-tag:before {
  content: "\e99e";
}
.icon-text-align-center:before {
  content: "\e99f";
}
.icon-text-align-justify:before {
  content: "\e9a0";
}
.icon-text-align-left:before {
  content: "\e9a1";
}
.icon-text-align-right:before {
  content: "\e9a2";
}
.icon-text-format:before {
  content: "\e9a3";
}
.icon-text-format-remove:before {
  content: "\e9a4";
}
.icon-text-size:before {
  content: "\e9a5";
}
.icon-thumbs-down:before {
  content: "\e9a6";
}
.icon-thumbs-up:before {
  content: "\e9a7";
}
.icon-train:before {
  content: "\e9a8";
}
.icon-trash:before {
  content: "\e9a9";
}
.icon-underline:before {
  content: "\e9aa";
}
.icon-undo:before {
  content: "\e9ab";
}
.icon-unlink:before {
  content: "\e9ac";
}
.icon-upload:before {
  content: "\e9ad";
}
.icon-user:before {
  content: "\e9ae";
}
.icon-users:before {
  content: "\e9af";
}
.icon-volume:before {
  content: "\e9b0";
}
.icon-volume-high:before {
  content: "\e9b1";
}
.icon-volume-low:before {
  content: "\e9b2";
}
.icon-volume-medium:before {
  content: "\e9b3";
}
.icon-warning:before {
  content: "\e9b4";
}
.icon-wheelchair:before {
  content: "\e9b5";
}
textarea:not([type="file"]),
input:not([type="file"]),
select:not([type="file"]),
textarea:not([type="checkbox"]),
input:not([type="checkbox"]),
select:not([type="checkbox"]),
textarea:not([type="button"]),
input:not([type="button"]),
select:not([type="button"]),
textarea:not([type="hidden"]),
input:not([type="hidden"]),
select:not([type="hidden"]),
textarea:not([type="image"]),
input:not([type="image"]),
select:not([type="image"]),
textarea:not([type="radio"]),
input:not([type="radio"]),
select:not([type="radio"]),
textarea:not([type="reset"]),
input:not([type="reset"]),
select:not([type="reset"]),
textarea:not([type="submit"]),
input:not([type="submit"]),
select:not([type="submit"]) {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 9px;
  font-size: 16px;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:not([type="file"]).no_write,
input:not([type="file"]).no_write,
select:not([type="file"]).no_write,
textarea:not([type="checkbox"]).no_write,
input:not([type="checkbox"]).no_write,
select:not([type="checkbox"]).no_write,
textarea:not([type="button"]).no_write,
input:not([type="button"]).no_write,
select:not([type="button"]).no_write,
textarea:not([type="hidden"]).no_write,
input:not([type="hidden"]).no_write,
select:not([type="hidden"]).no_write,
textarea:not([type="image"]).no_write,
input:not([type="image"]).no_write,
select:not([type="image"]).no_write,
textarea:not([type="radio"]).no_write,
input:not([type="radio"]).no_write,
select:not([type="radio"]).no_write,
textarea:not([type="reset"]).no_write,
input:not([type="reset"]).no_write,
select:not([type="reset"]).no_write,
textarea:not([type="submit"]).no_write,
input:not([type="submit"]).no_write,
select:not([type="submit"]).no_write {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(255, 128, 128, 0.6);
}
textarea:not([type="file"]):focus,
input:not([type="file"]):focus,
select:not([type="file"]):focus,
textarea:not([type="checkbox"]):focus,
input:not([type="checkbox"]):focus,
select:not([type="checkbox"]):focus,
textarea:not([type="button"]):focus,
input:not([type="button"]):focus,
select:not([type="button"]):focus,
textarea:not([type="hidden"]):focus,
input:not([type="hidden"]):focus,
select:not([type="hidden"]):focus,
textarea:not([type="image"]):focus,
input:not([type="image"]):focus,
select:not([type="image"]):focus,
textarea:not([type="radio"]):focus,
input:not([type="radio"]):focus,
select:not([type="radio"]):focus,
textarea:not([type="reset"]):focus,
input:not([type="reset"]):focus,
select:not([type="reset"]):focus,
textarea:not([type="submit"]):focus,
input:not([type="submit"]):focus,
select:not([type="submit"]):focus {
  outline: 0;
  border-color: #3D8AD4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 197, 150, 0.6);
}
textarea .datepicker,
input .datepicker,
select .datepicker {
  text-align: center;
}
textarea .disabled,
input .disabled,
select .disabled {
  background: #f7f7f7;
}
.window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.8);
  z-index: 902;
  display: none;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}
.window.mini .inner_content {
  max-width: 400px;
}
.window.static {
  display: block;
}
.window.static .inner_content h2 {
  text-align: center;
  padding-right: 0;
  border-bottom: none;
}
.window.static .inner_content .close {
  display: none;
}
.window .loader {
  text-align: center;
}
.window .inner_content {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px #222;
  z-index: 901;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}
.window .inner_content._center {
  text-align: center;
}
.window .inner_content::after {
  content: ' ';
  display: block;
  clear: both;
}
.window .inner_content .window_content._center {
  text-align: center;
}
.window .inner_content .window_content::after {
  content: ' ';
  display: block;
  clear: both;
}
.window .inner_content h2 {
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  border-bottom: solid 1px #cccccc;
  margin: 0 0 10px 0;
  padding: 0 40px 12px 0;
  font-weight: normal;
}
.window .inner_content h3 {
  font-weight: normal;
  margin: 15px 0;
  font-size: 18px;
}
.window .inner_content .close {
  width: 0;
  height: 0;
  float: right;
  font-family: 'Linearicons-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 28px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.window .inner_content .close::before {
  height: 28px;
  width: 28px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  content: "\e934";
}
.window .inner_content .inner_ok {
  display: none;
}
.window .window_result {
  display: none;
}
@media screen and (max-width: 580px) {
  .window .inner_content {
    max-width: 100%;
  }
  .window .inner_content h2 {
    font-size: 18px;
  }
  .window .inner_content h3 {
    font-size: 16px;
  }
}
.footer {
  justify-content: center;
  height: 69px;
  align-content: center;
  flex-wrap: wrap;
  display: none;
}
.footer .item {
  display: flex;
  align-content: center;
  margin: auto 20px;
  color: #7f7f7f;
}
body.centered {
  display: flex;
}
.UserProfile {
  max-width: 220px;
}
.UserProfile input.form_control[type="text"] {
  width: 100%;
}
.UserProfile .btn.block {
  margin-bottom: 10px;
}
.UserProfile .frow {
  margin-top: 10px;
}
.UserProfile .result_form {
  text-align: center;
  font-size: 14px;
}
.UsersAdmin_Edit {
  max-width: 400px;
}
.UsersAdmin.LineItems .items .item .item_inner .right {
  font-size: 18px;
}
.VisitorsAdmin_Edit {
  max-width: 400px;
}
.VisitorsAdmin.LineItems {
  max-width: none;
}
.VisitorsAdmin.LineItems .items_finder {
  max-width: 800px;
}
.VisitorsAdmin.LineItems table {
  margin-top: 20px;
  width: auto;
}
.VisitorsAdmin.LineItems table th {
  text-align: center;
}
.VisitorsAdmin.LineItems table tr {
  cursor: pointer;
}
.VisitorsAdmin.LineItems table tr[data-del="1"] {
  color: #7f7f7f;
  background: #fff1fa;
}
.StaffAdmin_Edit {
  max-width: 400px;
}
.StaffAdmin .add_place {
  display: flex;
}
.StaffAdmin .add_place .btn {
  margin-left: 10px;
}
.StaffAdmin .form_item .select2 {
  margin-bottom: 0;
}
.StaffAdmin .items .item {
  cursor: pointer;
}
.Shield.LineItems .items_finder .item_finder_types {
  margin-top: 10px;
  display: flex;
}
.Shield.LineItems .items_finder .item_finder_types .tab {
  border-radius: 4px;
  padding: 2px 4px;
  border: solid 1px #3D8AD4;
  cursor: pointer;
  margin: 0 2px;
  color: #3D8AD4;
}
.Shield.LineItems .items_finder .item_finder_types .tab:hover {
  background: #eef2ff;
}
.Shield.LineItems .items_finder .item_finder_types .tab.active {
  background: #3D8AD4;
  color: #fff;
}
.Shield.LineItems .items_finder .item_finder_tabs {
  display: flex;
}
.Shield.LineItems .items_finder .item_finder_tabs .tab {
  border-radius: 4px;
  padding: 2px 4px;
  border: solid 1px #3D8AD4;
  cursor: pointer;
  margin: 0 2px;
  color: #3D8AD4;
}
.Shield.LineItems .items_finder .item_finder_tabs .tab:hover {
  background: #eef2ff;
}
.Shield.LineItems .items_finder .item_finder_tabs .tab.active {
  background: #3D8AD4;
  color: #fff;
}
.Shield.LineItems .items_finder.grouped .items_finder_group._big {
  align-items: stretch;
}
.Shield.LineItems .items_finder.grouped .items_finder_group._big .item_finder {
  display: flex;
}
.Shield.LineItems .items_finder.grouped .items_finder_group._big .form_button {
  margin-left: 0;
}
.Shield.LineItems .items .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.Shield.LineItems .items .item:hover {
  background: #f7f7f7;
  box-shadow: 0 0 4px #cccccc;
}
.Shield.LineItems .items .item[rel="none"] .commands .btn {
  background: #008000;
}
.Shield.LineItems .items .item[rel="out"] .commands .btn {
  background: #f7f7f7;
  color: #7f7f7f;
  cursor: default;
}
.Shield.LineItems .items .item[rel="out"] .commands .btn:hover {
  background: #b5b5b5;
  opacity: 1;
}
.Shield.LineItems .items .item .item_inner {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 0 5px 10px;
  flex-basis: 180px;
}
.Shield.LineItems .items .item .item_inner .title {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.Shield.LineItems .items .item .item_inner .phone {
  margin-top: 5px;
  font-size: 16px;
}
.Shield.LineItems .items .item .item_inner .phone .icon-phone-handset {
  font-size: 14px;
}
.Shield.LineItems .items .item .right_item {
  display: flex;
  flex-grow: 1;
  flex-basis: 200px;
  justify-content: space-between;
}
.Shield.LineItems .items .item .company {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.Shield.LineItems .items .item .company .img {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/user_noimg_50.png');
  border-radius: 100%;
  margin-right: 10px;
}
.Shield.LineItems .items .item .company .info .ititle {
  font-size: 14px;
  color: #7f7f7f;
}
.Shield.LineItems .items .item .commands {
  display: flex;
}
.Shield.LineItems .items .item .commands .btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
}
.Shield.LineItems .items .item .commands .status {
  font-size: 14px;
  text-align: right;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px 5px;
}
@media screen and (max-width: 900px) {
  html body.page-main .outer_wrapper .wrapper {
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .LineItems.Shield .items .item .item_inner .title {
    font-size: 16px;
  }
  .LineItems.Shield .items .item .company .img {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .LineItems.Shield .items .item {
    padding-right: 0;
  }
  .LineItems.Shield .items .item .item_inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.LineItems {
  max-width: 800px;
}
.LineItems .items_finder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.LineItems .items_finder.grouped {
  margin: 0;
  display: block;
}
.LineItems .items_finder.grouped .items_finder_group {
  margin: 0 -5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.LineItems .items_finder.grouped .items_finder_group._big select,
.LineItems .items_finder.grouped .items_finder_group._big input[type="text"] {
  padding: 11px;
  font-size: 20px;
}
.LineItems .items_finder.grouped .items_finder_group._mini select,
.LineItems .items_finder.grouped .items_finder_group._mini input[type="text"] {
  padding: 3px;
}
.LineItems .items_finder .item_finder {
  margin: 5px;
  flex-grow: 1;
}
.LineItems .items_finder .item_finder.not_grow {
  flex-grow: 0;
}
.LineItems .items_finder .text_search {
  min-width: 250px;
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.LineItems .items_finder .text_search input.text {
  padding-right: 40px;
  flex-grow: 1;
}
.LineItems .items_finder .text_search .find_btn {
  margin-left: -40px;
  width: 40px;
  height: 100%;
  display: flex;
  align-content: center;
  cursor: pointer;
  justify-content: center;
}
.LineItems .items_finder .text_search .find_btn:hover {
  opacity: 0.8;
}
.LineItems .items_finder .text_search .find_btn i {
  margin: auto;
}
.LineItems .items_finder .form_button {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.LineItems .items_finder .settings_btn {
  height: 100%;
  width: 40px;
  display: flex;
  align-content: center;
  font-size: 26px;
  cursor: pointer;
  justify-content: center;
  margin-left: 10px;
}
.LineItems .items_finder .settings_btn:hover {
  background: #f7f7f7;
}
.LineItems .items_finder .settings_btn.active {
  color: #3D8AD4;
}
.LineItems .items_finder .settings_btn div {
  margin: auto;
}
.LineItems .iload {
  width: 50px;
  height: 50px;
  background-image: url('/images/loader.svg');
  background-position: center;
  background-size: 50px;
}
.LineItems .items {
  margin: 10px 0;
}
.LineItems .items .item_add {
  height: 42px;
  background: #b5b5b5;
  margin-bottom: 10px;
  display: block;
}
.LineItems .items .item {
  background: #f7f7f7;
  color: #333;
  margin-bottom: 10px;
  display: flex;
}
.LineItems .items .item[data-del="1"] {
  color: #7f7f7f;
  background: #fff4f4;
}
.LineItems .items .item[data-del="1"]:hover {
  background: #faefef;
}
.LineItems .items .item .ripple-content {
  display: flex;
  flex-grow: 1;
}
.LineItems .items .item:hover {
  background: #dcdcdc;
}
.LineItems .items .item .icon-add {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: #b5b5b5;
  color: #fff;
  font-size: 20px;
}
.LineItems .items .item .image {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/user_noimg_50.png');
}
.LineItems .items .item .item_inner {
  padding: 5px 0;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.LineItems .items .item .item_inner .title {
  font-size: 18px;
  flex-grow: 1;
  margin: 5px 10px;
}
.LineItems .items .item .item_inner .right {
  margin: 5px 10px;
  font-size: 14px;
}
@media screen and (max-width: 800px) {
  .LineItems .items {
    margin-left: -10px;
    margin-right: -10px;
  }
  .LineItems .items .item .inner_content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.CoubeItems .items_finder_params {
  display: flex;
  margin: 5px -5px 0;
}
.CoubeItems .items_finder_params .tag {
  margin: 5px;
  border: solid 1px #3D8AD4;
  color: #3D8AD4;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.CoubeItems .items_finder_params .tag:hover {
  opacity: 0.8;
}
.CoubeItems .items_finder {
  height: 40px;
  display: flex;
  max-width: 500px;
  margin-top: 20px;
}
.CoubeItems .items_finder input.text {
  width: 100px;
  line-height: 30px;
  padding-right: 40px;
  flex-grow: 1;
}
.CoubeItems .items_finder .find_btn {
  margin-left: -40px;
  width: 40px;
  height: 100%;
  display: flex;
  align-content: center;
  cursor: pointer;
  justify-content: center;
}
.CoubeItems .items_finder .find_btn:hover {
  opacity: 0.8;
}
.CoubeItems .items_finder .find_btn i {
  margin: auto;
}
.CoubeItems .items_finder .form_button {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.CoubeItems .items_finder .settings_btn {
  height: 100%;
  width: 40px;
  display: flex;
  align-content: center;
  font-size: 26px;
  cursor: pointer;
  justify-content: center;
  margin-left: 10px;
}
.CoubeItems .items_finder .settings_btn:hover {
  background: #f7f7f7;
}
.CoubeItems .items_finder .settings_btn.active {
  color: #3D8AD4;
}
.CoubeItems .items_finder .settings_btn div {
  margin: auto;
}
.CoubeItems .iload {
  width: 50px;
  height: 50px;
  background-image: url('/images/loader.svg');
  background-position: center;
  background-size: 50px;
}
.CoubeItems .items {
  margin: 10px -5px 0;
}
.CoubeItems .items::after {
  content: ' ';
  display: block;
  clear: both;
}
.CoubeItems .items .item_add {
  width: 210px;
  height: 203px;
  background-color: #f7f7f7;
  border: solid 1px #f7f7f7;
  flex-shrink: 0;
  float: left;
}
.CoubeItems .items .item {
  float: left;
  padding: 5px;
  width: 7.69%;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.CoubeItems .items .item.add .img {
  border: solid 1px #e5e5e5;
  background: #f7f7f7;
  border-radius: 10px;
}
.CoubeItems .items .item.add .img:hover {
  background: #dcdcdc;
}
.CoubeItems .items .item .img {
  display: flex;
  flex-grow: 1;
  background: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-direction: column;
}
.CoubeItems .items .item .img .title {
  flex-grow: 0;
  margin: auto 0 0 0;
  padding: 10px;
  color: #ffffff;
  min-height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  transition-duration: 0.3s;
}
.CoubeItems .items .item .img:hover {
  background-size: 110%;
}
.CoubeItems .items .item .img:hover .title {
  background-color: rgba(0, 0, 0, 0.8);
}
.CoubeItems .items .item .img .icon {
  font-size: 30px;
  margin: auto;
}
.CoubeItems .items .item .user {
  padding: 5px;
  display: flex;
}
.CoubeItems .items .item .user .image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.CoubeItems .items .item .user .data {
  margin-left: 10px;
  overflow: hidden;
}
.CoubeItems .items .item .user .data .name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 3500px) {
  body .CoubeItems .items .item {
    width: 8.33%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 3000px) {
  body .CoubeItems .items .item {
    width: 9.09%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 2500px) {
  body .CoubeItems .items .item {
    width: 11.11%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 2200px) {
  body .CoubeItems .items .item {
    width: 12.5%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1920px) {
  body .CoubeItems .items .item {
    width: 14.28%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1600px) {
  body .CoubeItems .items .item {
    width: 16.66%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1400px) {
  body .CoubeItems .items .item {
    width: 20%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1200px) {
  body .CoubeItems .items .item {
    width: 25%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 900px) {
  body .CoubeItems .items .item {
    width: 33.33%;
  }
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 700px) {
  body .CoubeItems.mini .items .item {
    width: 33.33%;
  }
}
@media screen and (max-width: 600px) {
  body .CoubeItems .items .item {
    width: 50%;
  }
  body .CoubeItems.mini .items .item {
    width: 50%;
  }
}
@media screen and (max-width: 300px) {
  body .CoubeItems .items .item {
    width: 100%;
  }
  body .CoubeItems.mini .items .item {
    width: 100%;
  }
}
.cropper_window {
  text-align: center;
}
.cropper_window .controls {
  position: absolute;
  display: flex;
  z-index: 1;
}
.cropper_window .controls .item {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.cropper_window .controls .item[rel="rotate"] div {
  font-weight: bold;
}
.cropper_window .controls .item:hover {
  background: rgba(0, 0, 0, 0.7);
}
.cropper_window .actions {
  position: relative;
  height: 50px;
  display: flex;
}
.cropper_window .actions .item.form_button {
  margin: 0;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
}
.cropper_window .actions .item.form_button[rel="save"] {
  background: #3D8AD4;
}
.cropper_window .actions .item.form_button:hover {
  opacity: 0.8;
}
.cropper_window .cropper_image {
  max-height: 500px;
}
.cropper_window .cropper_image img {
  max-width: 100%;
}
@media screen and (max-width: 700px), screen and (max-height: 700px) {
  .cropper_window {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .cropper_window .controls {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .cropper_window .actions {
    flex-grow: 0;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
  }
  .cropper_window .cropper_image {
    max-height: none;
    height: 100%;
    flex-grow: 1;
  }
}
.image4crop {
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center;*/
  max-width: 220px;
  height: 220px;
  flex-grow: 1;
  margin-bottom: 20px;
}
.image4crop .fogging {
  background-color: rgba(0, 0, 0, 0.47);
  width: 100%;
  height: 100%;
}
.image4crop .fogging:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.image4crop .fogging .icon_download {
  width: 100%;
  height: 100%;
  background-image: url("/images/svg_white/download.svg");
  background-size: 40px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 1s;
}
.image4crop .fogging .icon_download.load {
  background-image: url("/images/loader.svg");
  background-size: 70px 70px;
}
.image4crop .fogging .icon_download input {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  opacity: 0;
}
/* tables */
table.table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  word-wrap: break-word;
}
table.table thead a {
  color: #fff;
}
body table.mini {
  font-size: 16px;
}
body table.mini td {
  padding: 5px 7px;
}
body table.mini1 {
  font-size: 15px;
}
body table.mini1 td,
body table.mini1 th {
  padding: 2px 15px;
  line-height: normal;
}
.table th.empty {
  background: #fff;
}
.table tr.empty:hover th.empty {
  background: #fff;
}
.table th {
  background-color: #fff;
  padding: 4px 10px;
  color: #38C;
  font-weight: bold;
  text-align: left;
}
.table tbody tr {
  font-weight: normal;
  background-color: #fefefe;
}
.table.table_info {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.table th.gray {
  background: #eee;
  color: #000;
  padding: 10px 5px;
}
.table.table_info tbody tr {
  font-weight: normal;
  background-color: #fdfdfd;
}
.table.table_info tbody tr:hover {
  background-color: #fdfdfd;
}
.table tbody tr:hover {
  background-color: #fafafa;
}
.table td {
  padding: 9px 10px;
  border-left: #E4E4E4 1px solid;
  border-top: #E4E4E4 1px solid;
  border-bottom: #E4E4E4 1px solid;
  line-height: 20px;
}
.table tr td:last-child {
  border-right: #E4E4E4 1px solid;
}
.table.x2 td {
  border-left: #E4E4E4 3px solid;
  border-top: #E4E4E4 3px solid;
  border-bottom: #E4E4E4 3px solid;
}
.table.table-bordered th,
.table.table-bordered td {
  border-right: 1px solid #dddddd;
}
.table.table-bordered.x2 th,
.table.table-bordered.x2 td {
  border-right: 3px solid #dddddd;
}
.table.table-bordered th:last-child {
  border-right: none;
}
.table td.edited {
  padding: 0 5px;
}
.table tr.selected,
tr.selected1 {
  cursor: pointer;
}
.tablee textarea,
.tablee input[type="text"],
.tablee input[type="password"],
.tablee input[type="datetime"],
.tablee input[type="datetime-local"],
.tablee input[type="date"],
.tablee input[type="month"],
.tablee input[type="time"],
.tablee input[type="week"],
.tablee input[type="number"],
.tablee input[type="email"],
.tablee input[type="url"],
.tablee input[type="search"],
.tablee input[type="tel"],
.tablee input[type="color"] {
  width: 100%;
}
/* end-tables */
.select2-result-repository {
  padding-top: 4px;
  padding-bottom: 3px;
}
.select2-result-repository__avatar {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.select2-result-repository__avatar img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.select2-result-repository__meta {
  margin-left: 70px;
}
.select2-result-repository__title {
  color: black;
  font-weight: normal;
  word-wrap: break-word;
  line-height: 1.1;
  margin-bottom: 4px;
}
.select2-result-repository__forks,
.select2-result-repository__stargazers {
  margin-right: 1em;
}
.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
  display: inline-block;
  color: #aaa;
  font-size: 11px;
}
.select2-result-repository__description {
  font-size: 13px;
  color: #777;
  margin-top: 4px;
}
.select2-results__option--highlighted .select2-result-repository__title {
  color: white;
}
.select2-results__option--highlighted .select2-result-repository__forks,
.select2-results__option--highlighted .select2-result-repository__stargazers,
.select2-results__option--highlighted .select2-result-repository__description,
.select2-results__option--highlighted .select2-result-repository__watchers {
  color: #c6dcef;
}
.s2-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .s2-docs-sidebar {
    padding-left: 20px;
  }
}
.s2-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.s2-docs-sidebar .nav > li > a {
  margin-left: -1px;
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
  border-left: 1px solid transparent;
  transition: color 0.2s, border-color 0.2s;
}
.s2-docs-sidebar .nav > li > a code {
  background-color: inherit;
  color: inherit;
}
.s2-docs-sidebar .nav > li > a:hover,
.s2-docs-sidebar .nav > li > a:focus {
  color: #428BCA;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #428BCA;
}
.s2-docs-sidebar .nav > .active > a,
.s2-docs-sidebar .nav > .active:hover > a,
.s2-docs-sidebar .nav > .active:focus > a {
  padding-left: 19px;
  font-weight: bold;
  color: #428BCA;
  background-color: transparent;
  border-left: 2px solid #428BCA;
}
.s2-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}
.s2-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.s2-docs-sidebar .nav .nav > li > a:hover,
.s2-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 30px;
}
.s2-docs-sidebar .nav .nav > .active > a,
.s2-docs-sidebar .nav .nav > .active:hover > a,
.s2-docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 29px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .s2-docs-sidebar .s2-docs-sidenav {
    padding-top: 40px;
    transition: border-color 0.2s;
    border-left: 1px solid transparent;
  }
  .s2-docs-sidebar.affix .s2-docs-sidenav {
    border-left-color: #eee;
  }
  .s2-docs-sidebar .nav > .active > ul {
    display: block;
  }
  .s2-docs-sidebar.affix,
  .s2-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .s2-docs-sidebar.affix {
    position: fixed;
    top: 0px;
  }
  .s2-docs-sidebar.affix-bottom {
    position: absolute;
  }
  .s2-docs-sidebar.affix-bottom .s2-docs-sidenav,
  .s2-docs-sidebar.affix .s2-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .s2-docs-sidebar.affix-bottom,
  .s2-docs-sidebar.affix {
    width: 263px;
  }
}
/* Back to top (hidden on mobile) */
.back-to-top {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.back-to-top:hover {
  color: #428BCA;
  text-decoration: none;
}
@media (min-width: 768px) {
  .back-to-top {
    display: block;
  }
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
h2 code,
h3 code,
h4 code {
  background-color: inherit;
}
pre.prettyprint {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.s2-docs-featurette {
  color: #777;
  padding: 15px 0;
  text-align: center;
}
.s2-docs-featurette h4 {
  margin: 30px 0 15px;
}
.s2-docs-featurette .fa {
  font-size: 28px;
  color: #777;
}
.s2-docs-container {
  line-height: 1.6;
}
section {
  margin-bottom: 40px;
}
.page-header {
  padding-bottom: 19px;
  margin-bottom: 29px;
}
.s2-docs-nav {
  margin-bottom: 0;
  border-color: #eee;
  background-color: #f6f6f6;
}
.s2-docs-nav .navbar-brand {
  font-weight: 500;
}
.s2-docs-nav .navbar-brand > img {
  display: inline;
  margin-right: 4px;
}
.s2-docs-nav .navbar-nav > .active > a,
.s2-docs-nav .navbar-nav > .active > a:hover,
.s2-docs-nav .navbar-nav > .active > a:focus {
  background-color: #f0f0f0;
  color: #000;
}
@media (min-width: 768px) {
  .s2-docs-nav .navbar-nav > li > .dropdown-menu:before {
    position: absolute;
    top: -21px;
    left: 24px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 10px;
    content: "";
  }
  .s2-docs-nav .navbar-nav > li > .dropdown-menu:after {
    position: absolute;
    top: -20px;
    left: 24px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF;
    border-style: solid;
    border-width: 10px;
    content: '';
  }
  .s2-docs-nav .navbar-nav .dropdown-menu {
    border-radius: 4px;
    border-color: #ddd;
    margin-top: -1px;
  }
}
.s2-docs-footer {
  border-top: 1px solid #eee;
  color: #767676;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  text-align: center;
}
.s2-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
}
.s2-docs-footer-links li {
  display: inline;
  padding: 0 2px;
}
.s2-docs-footer-links li:after {
  content: "·";
  padding-left: 8px;
}
.s2-docs-footer-links li:first-child {
  padding-left: 0;
}
.s2-docs-footer-links li:last-child:after {
  content: "";
  padding-left: 0;
}
@media (min-width: 768px) {
  .s2-docs-footer p {
    margin-bottom: 0;
  }
}
.alert {
  background: #fff;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  color: #333;
  margin: 20px 0;
  padding: 20px;
}
.alert h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}
.alert-danger {
  border-left-color: #ce4844;
}
.alert-danger h4 {
  color: #ce4844;
}
.alert-info {
  border-left-color: #1b809e;
}
.alert-info h4 {
  color: #1b809e;
}
.alert-warning {
  border-left-color: #aa6708;
}
.alert-warning h4 {
  color: #aa6708;
}
.s2-docs-home .jumbotron {
  margin-bottom: 0;
  color: #000;
}
.s2-docs-home .jumbotron h1 {
  color: #000;
  margin-top: 20px;
}
.s2-docs-home .lead {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
}
.s2-docs-home .notice-previous {
  background: #f6f6f6;
  color: #666;
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
}
.s2-docs-home .half-rule {
  width: 100px;
  margin: 40px auto;
}
.s2-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
.s2-example:after {
  content: "Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .s2-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #eee;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
}
.s2-event-log {
  background: #002451;
  color: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  margin: 0 -15px 15px;
  padding: 45px 15px 15px;
  position: relative;
}
.s2-event-log:after {
  content: "Event Log";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #BBB;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .s2-event-log {
    margin-left: 0;
    margin-right: 0;
    margin-top: -15px;
    border-width: 1px;
    border-color: #eee;
    box-shadow: none;
  }
}
.s2-example + pre,
.s2-example + figure,
.s2-event-log + pre {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .s2-example + pre,
  .s2-example + figure,
  .s2-event-log + pre {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.s2-example + .s2-event-log {
  margin-top: -15px;
}
.s2-docs-social {
  margin-bottom: 20px;
  text-align: center;
}
.s2-docs-social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.s2-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}
.s2-docs-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.s2-docs-social-buttons .twitter-share-button {
  width: 98px !important;
}
.github-btn {
  overflow: hidden;
  border: 0;
}
.btn-outline-inverse {
  color: #428BCA;
  background-color: transparent;
  border-color: #428BCA;
  padding: 15px 30px;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}
.btn-outline-inverse:hover {
  color: #fff;
  border-color: #428BCA;
  background-color: #428BCA;
}
.btn-toolbar {
  margin-bottom: 20px;
}
.anchorjs-link {
  color: inherit;
  transition: all 0.16s linear;
  text-decoration: none;
}
.anchorjs-link:link,
.anchorjs-link:visited {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 480px) {
  .anchorjs-link {
    display: none;
  }
}
*:hover > .anchorjs-link {
  opacity: 0.5;
  margin-left: -0.9em !important;
}
*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
  opacity: 1;
}
.jumbotron {
  background-color: #F6F6F6;
  border-bottom: 1px solid #eee;
  color: #777;
  padding-left: 0;
  padding-right: 0;
}
.jumbotron h1 {
  color: #777;
  font-size: 36px;
  margin-top: 10px;
}
.jumbotron .version {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 30px;
}
.com {
  color: #999;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str,
.atv {
  color: #C7254E;
}
.kwd,
.prettyprint .tag {
  color: #2F6F9F;
}
.typ,
.atn,
.dec,
.var {
  color: #428BCA;
}
.pln {
  color: #333;
}
.prettyprint {
  padding: 9px 14px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #eee;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfb, inset 41px 0 0 #f6f6f6;
  -moz-box-shadow: inset 40px 0 0 #fbfbfb, inset 41px 0 0 #f6f6f6;
  box-shadow: inset 40px 0 0 #fbfbfb, inset 41px 0 0 #f6f6f6;
}
ol.linenums {
  margin: 0 0 0 -12px;
}
ol.linenums li {
  padding-left: 12px;
  color: #bebebe;
  line-height: 18px;
}
.highlight {
  background: #fff;
}
.highlight .nx {
  color: #333;
}
.highlight .k,
.highlight .o {
  font-weight: bold;
}
.highlight .na {
  color: #428BCA;
}
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #C7254E;
}
.highlight .m,
.highlight .mf,
.highlight mh,
.highlight .mi,
.highlight .mo {
  color: #195f91;
}
.highlight .p {
  color: #93a1a1;
}
.highlight .nt {
  color: #2F6F9F;
}
.highlight .c {
  color: #999;
  font-style: italic;
}
.highlight .err {
  background-color: #e3d2d2;
  color: #a61717;
}
.highlight .gr {
  color: #a00;
}
.highlight pre {
  border: none;
  margin: 0;
}
.highlight > pre {
  border: 1px solid #eee;
  padding: 0;
  margin-bottom: 14px;
}
.highlight .lineno {
  background-color: #fbfbfb;
  color: #bebebe;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gh {
  color: #999999;
}
/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #555555;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa;
}
/* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
}
/* Generic.Traceback */
.highlight .kc {
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold;
}
/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */
.highlight .nb {
  color: #0086B3;
}
/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #008080;
}
/* Name.Constant */
.highlight .ni {
  color: #800080;
}
/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */
.highlight .nn {
  color: #555555;
}
/* Name.Namespace */
.highlight .nv {
  color: #008080;
}
/* Name.Variable */
.highlight .ow {
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .sr {
  color: #009926;
}
/* Literal.String.Regex */
.highlight .ss {
  color: #990073;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #008080;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #008080;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #009999;
}
/* Literal.Number.Integer.Long */
h1[id] {
  padding-top: 20px;
  margin-top: 0;
}
body .select2-container {
  margin-top: -1px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  margin-right: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.select2-container .select2-search--inline .select2-search__field {
  line-height: 32px;
}
.s2-docs-panels dt,
.s2-docs-panels dd {
  border: 1px solid #ddd;
}
.s2-docs-panels dt {
  background-color: #f5f5f5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px 7.5px;
}
.s2-docs-panels dd {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 0.75em;
  padding: 7.5px;
}
.s2-docs-panels dt + dd {
  border-top: none;
}
select.select2 {
  width: 100%;
  max-width: 300px;
}
.form_item.full_width select.select2 {
  max-width: none;
}
.select2-container .select2-selection--single {
  height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height: 28px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: 4px;
}
.select2-container .select2-search--inline {
  padding: 0 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 0;
  display: flex;
  height: 35px;
  align-items: center;
}
.main_error {
  color: #df0d35;
  text-align: center;
  padding: 50px 0;
}
.main_error .error_code {
  font-size: 300px;
  line-height: 250px;
  text-shadow: 0 0 1px;
}
.main_error .title_error {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  font-weight: 700;
}
.main_error .title_error .title_in {
  height: 250px;
  display: table-cell;
  vertical-align: middle;
}
.main_error .title_out {
  margin: 0 auto;
  width: 73px;
}
.main_error .desc {
  margin: 20px 0;
  font-size: 22px;
}
.main_error a {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .main_error {
    padding: 0;
  }
  .main_error .error_code {
    font-size: 46px;
    line-height: normal;
  }
  .main_error .title_error {
    position: relative;
    width: auto;
  }
  .main_error .title_error .title_in {
    height: auto;
  }
}
.user_form {
  max-width: 300px;
  margin: 0 auto;
}
.user_form .title {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}
.user_form .title1 {
  padding: 20px;
  font-size: 26px;
  text-align: center;
}
.user_form input[type="text"],
.user_form input[type="password"],
.user_form input[type="email"] {
  padding: 0 10px;
  line-height: 40px;
  width: 100%;
  border: solid 1px #e5e5e5;
  margin-bottom: 10px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user_form .error {
  display: none;
  margin: 0 0 10px 0;
  text-align: center;
}
.user_form .btn {
  line-height: 40px;
}
.user_form a.register {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 20px;
}
.user_form a.forgot {
  display: block;
  text-align: center;
  color: #7f7f7f;
  text-decoration: none;
}
.user_form a:hover {
  text-decoration: underline;
}
.user_form .link_login {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #7f7f7f;
}
.user_form .soc_title {
  padding-bottom: 10px;
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}
.user_form .soc_icons {
  text-align: center;
}
.user_form .loader_login_content {
  display: none;
  text-align: center;
}
.user_form .div_text {
  padding: 20px 0 10px;
  text-align: center;
  font-size: 14px;
}
.card_form {
  padding: 15px 0;
  background-color: transparent;
  border: none;
}
.card_form h3 {
  margin: 0;
  padding: 0 0 20px 0;
}
.card_form.t1in2 {
  float: left;
  width: calc(50% - 45px);
  margin-right: 10px;
  margin-top: 10px;
  min-width: 500px;
}
.card_form label .switchery {
  margin-right: 10px;
}
.form_item {
  padding-bottom: 10px;
}
.form_item:last-child {
  padding-bottom: 0;
}
.form_item .item_desc {
  margin-bottom: 10px;
  font-size: 14px;
}
.form_item input[type="text"].form_control,
.form_item input[type="password"].form_control,
.form_item select.form_control {
  width: 100%;
  margin-bottom: 10px;
}
.form_item .select2 {
  margin-bottom: 10px;
}
.form_item input[type="number"] {
  width: 100px;
  padding: 0 0 0 10px;
  line-height: 26px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.form_item input[type="number"].price:after {
  content: "руб.";
}
.form_item textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.form_item label.form_control {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form_item .form_data {
  margin-bottom: 10px;
}
.form_item .form_data._user {
  display: flex;
  align-items: center;
  margin-top: 8px;
  text-decoration: none;
  color: #333;
}
.form_item .form_data._user:hover {
  opacity: 0.8;
}
.form_item .form_data._user .img {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/user_noimg_50.png');
  border-radius: 100%;
  margin-right: 10px;
}
.form_item .form_data._user .info .date {
  color: #7f7f7f;
}
@media screen and (max-width: 1400px) {
  body .card_form.t1in2 {
    width: auto;
    float: none;
    margin-right: 0;
  }
}
.list_items {
  padding: 10px 0;
}
.list_items .item {
  margin: 5px 0;
  padding: 15px;
  display: block;
  border: solid 1px #e5e5e5;
  background: #fbfbfb;
}
.list_items .item:hover {
  opacity: 0.8;
}
.CarVisitorsAdmin_Edit {
  max-width: 400px;
}
.CarVisitorsAdmin.LineItems {
  max-width: none;
}
.CarVisitorsAdmin.LineItems .items_finder {
  max-width: 1000px;
}
.CarVisitorsAdmin.LineItems table {
  margin-top: 20px;
  width: auto;
}
.CarVisitorsAdmin.LineItems table th {
  text-align: center;
}
.CarVisitorsAdmin.LineItems table tr {
  cursor: pointer;
}
.CarVisitorsAdmin.LineItems table tr[data-del="1"] {
  color: #7f7f7f;
  background: #fff1fa;
}
